<p>
  <strong><%= Book.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:last_sign_in_at) %>:</strong>
  <%= @user.last_sign_in_at %>
</p>
